<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment Email</title>

    <style>
      body {
        border: 1px solid rgba(11, 11, 54, 0.5);
        text-align: center;
        padding: 20px 10px;
      }
      h1 span {
        color: rgb(10, 103, 10);
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <h1>Hey <span> <%= username %></span></h1>
    <p>You have paid <b> $<%= amount %></b></p>
    <p>Thanks for choosing us and using our services!</p>
    <p>For more products like this click the link below.</p>
    <a href="<%= products_url %>"><%= products_url %></a>
  </body>
</html>
