<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment Email</title>

    <style>
      body {
        border: 3px solid midnightblue;
        text-align: center;
        font-size: 20px;
        padding: 20px 10px;
      }
      h1 span {
        color: midnightblue;
      }
    </style>
  </head>
  <body>
    <h1>Hey <span> <%= username %></span></h1>
    <p>You have paid <%= amount %></p>
    <p>Thanks for choosing us and using our services</p>
    <p>For more products like this click the link below.</p>
    <a href="<%= products_url %>"><%= products_url %></a>
  </body>
</html>
