<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment Email</title>

    <style></style>
  </head>
  <body>
    <h1>Hey <%= username %></h1>
    <p>You have paid <%= amount %></p>
    <p>Thanks for choosing us and using our services</p>
    <p>For more products like this click the link below.</p>
    <a href="<%= products_url %>"><%= products_url %></a>
  </body>
</html>
